#
# PECAS_MapIt_Importer/mapit_https.py.j2 ---
#
# This file is turned into "mapit_https.py"

HTTPS_HOST = '{{PMI_CONFIG_HTTPS_HOST}}'
HTTPS_USER = '{{PMI_CONFIG_HTTPS_USER}}'
HTTPS_PASSWORD = '{{PMI_CONFIG_HTTPS_PASSWORD}}'

#  Local Variables:
#  mode: python
#  End:
