{#
 # pecas-visualizations/PECAS_MapIt_Importer/metadata.txt.j2 ---
 #
 # This file is processed by jinja2 to create "metadata.txt"
 #
 # https://docs.qgis.org/3.16/en/docs/pyqgis_developer_cookbook/plugins/plugins.html#plugin-metadata
 #
 # Data starts after this line
 #####-#}
#
# PECAS_MapIt_Importer/metadata.txt ---
#

[general]
# Dont add anything to the name, as that makes the plugin unique
name={{PMI_NAME}}
version={{PMI_VER_MAJOR}}.{{PMI_VER_MINOR}}.{{PMI_VER_DATE}}

qgisMinimumVersion=3.16

tags=PECAS,Mapit,WMS,WFS

description=Configure, select and import WFS/WMS PECAS layers from MapIt
            (for {{PMI_TENANT}}-{{PMI_DEPLOY}})

about=QGIS Plugin to configure, select and import WFS/WMS PECAS layers from MapIt
            (for {{PMI_TENANT}}-{{PMI_DEPLOY}})
            VERSION={{PMI_VER_MAJOR}}.{{PMI_VER_MINOR}}.{{PMI_VER_DATE}}
            CONFIG_HTTPS_HOST={{PMI_CONFIG_HTTPS_HOST}}

author=HBA Specto
email=contact@hbaspecto.com

homepage=https://www.hbaspecto.com/
repository=https://bitbucket.org/hbaspecto/pecas-visualizations
tracker=https://bitbucket.org/hbaspecto/pecas-visualizations/issues

category=Plugins
icon=icon.png
experimental=True
deprecated=False

# We arent using this
# changelog=
