<h1 id="flowcompressorfromfindertobeportedtowindows">Flow Compressor from Finder (to be ported to Windows)</h1>

<p>This seems to work in OSX as an automator workflow, although it does not work if I echo the java command and cut and paste it (file names need to be quoted inside of terminal, but not inside of bash???)</p>

<pre><code>#!/bin/bash
echo &quot;$@&quot;
for fullpath in &quot;$@&quot;
do
    filename=&quot;${fullpath##*/}&quot;                      # Strip longest match of */ from start
    dir=&quot;${fullpath:0:${#fullpath} - ${#filename}}&quot; # Substring from 0 thru pos of filename
    base=&quot;${filename%.[^.]*}&quot;                       # Strip shortest match of . plus at least one non-dot char from end
    ext=&quot;${filename:${#base} + 1}&quot;                  # Substring from len of base thru end
    if [[ -z &quot;$base&quot; &amp;&amp; -n &quot;$ext&quot; ]]; then          # If we have an extension and no base, it's really the base
        base=&quot;.$ext&quot;
        ext=&quot;&quot;
    fi
    echo Dir is &quot;$dir&quot;
    java -Dlog4j.configuration=file:/Users/jea/Applications/log4j.xml -jar ~/Applications/StandAloneFlowCompressor.jar &quot;$fullpath&quot; &quot;$dir../AllYears/Inputs/ZonesCoordinates.csv&quot; &quot;$dir$base.gml&quot; 5000 30 3401 &amp;
done
wait
</code></pre>

<p>Here is the automator screenshot. <img src="automator_compressor.png" alt="automator" id="automator" title="The screenshot within OSX Automator" /></p>
